<div class="center-container">
    <h2>Stored Passwords</h2>
    
    <table class="password-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>App</th>
          <th>Username</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let password of passwords">
          <td>{{password.id}}</td>
          <td>{{ password.category }}</td>
          <td>{{ password.app }}</td>
          <td>{{ password.userName }}</td>
          <td>
            <span *ngIf="password.show; else hiddenPassword">{{ password.decriptedPassword }}</span>
            <ng-template #hiddenPassword>
              <span class="hidden-password">{{password.encryptedPassword}}</span>
            </ng-template>
            <button type="button" (click)="togglePasswordVisibility(password)" class="toggle-password">
              <i class="fa" [ngClass]="password.show ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </td>                    
          <td class="action-buttons">
            <a [routerLink]="['/update', password.id]" class="edit-button">Edit</a>
            <button *ngIf="password.id" (click)="deletePassword(+password.id)" class="delete-button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <a routerLink="/add" class="add-button">Add Password</a>
  </div>
  